frameset{
    border: none;
}
body{
    width: 90%;
}

.drpbtn{
    border: none;
    background-color:  #5555aa;
}
.dropdown-contenth a{
    border: solid black;
    background-color: yellow; 
    float: none;
    padding: 5px;
    border-radius: 10px;
    color: black;
}
.dropdownh{
    text-align: right;
    
}
.content{
    margin-left: 20%;
    margin-right: 20%;
   
}

.s{
    font-size: 2em;
    color: red;
}

.image{
    width:40%;
    float: left;
    margin-left: 60px;
}
.image img{
    height: 200px;
    width: 45%;
}
.side-content{
    width: 40%;
    float: right;
    margin-left: 30px;
    margin-top: 45px;
}
.dropdown{
    display: none;
}
@media screen and (max-width:700px){
    .dropdownh{
        display: none;
    }
    .dropdown{
        display: grid;
        position: absolute;
        right: 50px;
        background-color: yellow;
        
    }
    .dropdown:hover {
        background-color: black;
    }
    .menu{
        background-color: yellow;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color:lightgreen;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px black;
        z-index: 1;
    }
    .dropdown-content a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        
        

    }
    .dropdown-content a:hover{
        background-color: hotpink;
    }
    .dropdown:hover .dropdown-content{
        
        display: block;
    }
    .side-content{
        width: 100%;
    }
    .image{
        width: 100%;
    }
    
    /*.menu{
        display: grid;
        position: fixed;
        right: 10px;
        z-index: 99;
        font-size: 18;
        border: none;
        outline: none;
        background-color: red;
        color: blue;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }
    .menu:hover .dropdown-content{
       display: block;
    } 
}